In [1]:
import pandas as pd
from sqlalchemy import create_engine

# PyMySQL 
import pymysql
pymysql.install_as_MySQLdb()

# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from datetime import datetime
from datetime import timedelta

from config import mypass

# Import API key
from api_keys import api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

### Extract Lat_Lon CSV into DataFrames

In [2]:
csv_file = "Resources/Complete_File/statelatlong.csv"
latlon_df = pd.read_csv(csv_file)
latlon_df.head(60)

   State   Latitude   Longitude                  City
0     AL  32.601011  -86.680736               Alabama
1     AK  61.302501 -158.775020                Alaska
2     AZ  34.168219 -111.930907               Arizona
3     AR  34.751928  -92.131378              Arkansas
4     CA  37.271875 -119.270415            California
5     CO  38.997934 -105.550567              Colorado
6     CT  41.518784  -72.757507           Connecticut
7     DE  39.145251  -75.418921              Delaware
8     DC  38.899349  -77.014567  District of Columbia
9     FL  27.975728  -83.833017               Florida
10    GA  32.678125  -83.222976               Georgia
11    HI  20.460000 -157.505000                Hawaii
12    ID  45.494576 -114.142430                 Idaho
13    IL  39.739318  -89.504139              Illinois
14    IN  39.766219  -86.441277               Indiana
15    IA  41.938317  -93.389798                  Iowa
16    KS  38.498779  -98.320078                Kansas
17    KY  37.822294  -85.768240              Kentucky
18    LA  30.973377  -91.429910             Louisiana
19    ME  45.218513  -69.014866                 Maine
20    MD  38.806352  -77.268416              Maryland
21    MA  42.062940  -71.718067         Massachusetts
22    MI  44.943560  -86.415805              Michigan
23    MN  46.441859  -93.365515             Minnesota
24    MS  32.585106  -89.877220           Mississippi
25    MO  38.304662  -92.437099              Missouri
26    MT  46.679800 -110.044783               Montana
27    NE  41.500819  -99.680902              Nebraska
28    NV  38.502032 -117.023060                Nevada
29    NH  44.001231  -71.579923         New Hampshire
30    NJ  40.143006  -74.731116            New Jersey
31    NM  34.166232 -106.026069            New Mexico
32    NY  40.705626  -73.979680              New York
33    NC  35.214563  -79.891267        North Carolina
34    ND  47.467882 -100.302266          North Dakota
35    OH  40.190362  -82.669252                  Ohio
36    OK  35.309765  -98.716558              Oklahoma
37    OR  44.141905 -120.538099                Oregon
38    PA  40.994593  -77.604698          Pennsylvania
39    RI  41.582728  -71.506451          Rhode Island
40    SC  33.625050  -80.947038        South Carolina
41    SD  44.212699 -100.247164          South Dakota
42    TN  35.830521  -85.978599             Tennessee
43    TX  31.169336 -100.076842                 Texas
44    UT  39.499761 -111.547028                  Utah
45    VT  43.871755  -72.447783               Vermont
46    VA  38.003386  -79.458786              Virginia
47    WA  38.899349  -77.014567            Washington
48    WV  38.920171  -80.181691         West Virginia
49    WI  44.786297  -89.826705             Wisconsin
50    WY  43.000325 -107.554567               Wyoming

### Transform Lat_Lon DataFrame

In [3]:
# Create a filtered dataframe from specific columns
latlon_cols = ["Latitude","Longitude","City"]
latlon_transformed = latlon_df[latlon_cols].copy()

# Rename the column headers
latlon_transformed = latlon_transformed.rename(columns=\
                                        {"City": "State"})

latlon_transformed.head()

    Latitude   Longitude       State
0  32.601011  -86.680736     Alabama
1  61.302501 -158.775020      Alaska
2  34.168219 -111.930907     Arizona
3  34.751928  -92.131378    Arkansas
4  37.271875 -119.270415  California

### Extract Alcohol CSV into DataFrames

In [4]:
# Extract CSVs into DataFrames
alcohol_file = "Resources/alcohol_data.csv"
state_df = pd.read_csv(alcohol_file)
state_df.head()

,location,year,ethanol_beer_gallons_per_capita,ethanol_wine_gallons_per_capita,ethanol_spirit_gallons_per_capita,ethanol_all_drinks_gallons_per_capita
0,alabama,2016,1.09,0.26,0.65,2.01
1,alabama,2015,1.11,0.26,0.64,2.01
2,alabama,2014,1.13,0.25,0.62,2.00
3,alabama,2013,1.14,0.25,0.60,1.99
4,alabama,2012,1.16,0.24,0.60,2.00

### Transform Alcohol DataFrame

In [5]:
# Transform county DataFrame
state_df_cols = ["location", "year", "ethanol_beer_gallons_per_capita", "ethanol_wine_gallons_per_capita", 
                       "ethanol_spirit_gallons_per_capita",
                       "ethanol_all_drinks_gallons_per_capita"]
state_transformed = state_df[state_df_cols].copy()

# Rename the column headers
state_transformed = state_transformed.rename(columns={"location": "state_name",
                                                         "ethanol_beer_gallons_per_capita": "beer_per_capita",
                                                         "ethanol_wine_gallons_per_capita": "wine_per_capita",
                                                         "ethanol_spirit_gallons_per_capita": "spirit_per_capita",
                                                         "ethanol_all_drinks_gallons_per_capita": "all_drink_per_capita"})

# Set index
# state_transformed.set_index("state_name", inplace=True)

state_transformed.head()

,state_name,year,beer_per_capita,wine_per_capita,spirit_per_capita,all_drink_per_capita
0,alabama,2016,1.09,0.26,0.65,2.01
1,alabama,2015,1.11,0.26,0.64,2.01
2,alabama,2014,1.13,0.25,0.62,2.00
3,alabama,2013,1.14,0.25,0.60,1.99
4,alabama,2012,1.16,0.24,0.60,2.00

In [6]:
combined_state = state_transformed['state_name'].astype(str)+'_'+state_transformed['year'].astype(str)
combined_state = pd.DataFrame(combined_state)
combined_state.head()

              0
0  alabama_2016
1  alabama_2015
2  alabama_2014
3  alabama_2013
4  alabama_2012

In [7]:
state_transformed = pd.concat([state_transformed, combined_state], axis=1)
state_transformed.head()

,state_name,year,beer_per_capita,wine_per_capita,spirit_per_capita,all_drink_per_capita,0
0,alabama,2016,1.09,0.26,0.65,2.01,alabama_2016
1,alabama,2015,1.11,0.26,0.64,2.01,alabama_2015
2,alabama,2014,1.13,0.25,0.62,2.00,alabama_2014
3,alabama,2013,1.14,0.25,0.60,1.99,alabama_2013
4,alabama,2012,1.16,0.24,0.60,2.00,alabama_2012

### Read the smaller version of the US States file to build the API

In [8]:
file_to_load = "Resources/statelatlong.csv"
cities_df = pd.read_csv(file_to_load)
cities_df.head(500)

  State   Latitude   Longitude         City
0    AL  32.601011  -86.680736      Alabama
1    AK  61.302501 -158.775020       Alaska
2    AZ  34.168219 -111.930907      Arizona
3    AR  34.751928  -92.131378     Arkansas
4    CA  37.271875 -119.270415   California
5    CO  38.997934 -105.550567     Colorado
6    CT  41.518784  -72.757507  Connecticut
7    DE  39.145251  -75.418921     Delaware

### Call the Weather API for 5 years and perform transformation on the data

In [9]:
# months = ('01','02','03','04','05','06','07','08','09','10','11','12')
# years = ('2012','2013','2014','2015','2016')
months = ('01','02','03')
years = ('2015','2016')
base_url = "http://api.worldweatheronline.com/premium/v1/past-weather.ashx?"

state_year_month_list = []
state_list = []
lat_lon_list = []
lat_list = []
lon_list = []
month_list = []
year_list = []
date = []
sunrise = []
sunset = []
temp = []
cloud = []
sunhours = []
sunminutes = []
sunlight = []
precip = []

for row in cities_df.itertuples():
    state = row[4]
    lat = row[2]
    lon = row[3]

# Call the API per month and for 2012, 2013, 2014, 2015, 2016
    for year in years:
        for month in months:
#             print(month, year)
            
            firstday = str(year) + '-' + str(month) + '-01'
#             print(firstday)
            if month == "01" or month == "03" or month == "05" or month == "07" or month == "08" or month == "10" or month == "12":
                lastday = str(year) + '-' + str(month) + '-31'
            elif month == "04" or month == "06" or month == "09" or month == "11":
                lastday = str(year) + '-' + str(month) + '-30'
            elif month == "02":
                if str(year) == 2012 or str(year) == 2016:
                    lastday = str(year) + '-' + str(month) + '-29'
                else:
                    lastday = str(year) + '-' + str(month) + '-28'
                    
            query_url = base_url + "key=" + api_key + "&q=" + str(lat) +"," + str(lon) + "&date=" + firstday + "&enddate=" + lastday + "&tp=24&format=json"
            
            try:
                weather_response = requests.get(query_url)
                weather_json = weather_response.json()
                time.sleep(1.1)

                for i in np.arange(len(weather_json['data']['weather'])):                

                    state_year_month = str(state) + str(year) + str(month)
                    state_year_month_list.append(state_year_month)
                    lat_lon_list.append(weather_json['data']['request'][0]['query'])
                    lat_list.append(lat)
                    lon_list.append(lon)
                    month_list.append(month)
                    year_list.append(year)
                    state_list.append(state)

                    date.append(weather_json['data']['weather'][i]['date'])
                    sunrise.append(weather_json['data']['weather'][i]['astronomy'][0]['sunrise'])

                    temp.append(int((weather_json['data']['weather'][i]['hourly'][0]['tempF'])))
                    cloud.append(int(weather_json['data']['weather'][i]['hourly'][0]['cloudcover']))
                    precip.append(float(weather_json['data']['weather'][i]['hourly'][0]['precipMM']))

                    h_sunrise = ((weather_json['data']['weather'][i]['astronomy'][0]['sunrise']).split(":"))
                    m_sunrise = (h_sunrise[1].split(" AM"))
                    t1 = h_sunrise[0] + ":" + m_sunrise[0] 

                    sunset_aux = (weather_json['data']['weather'][i]['astronomy'][0]['sunset'])

                    if sunset_aux == "No sunset":
                        sunset_time = prev_sunset 
                    else:
                        sunset_time = (weather_json['data']['weather'][i]['astronomy'][0]['sunset'])
                        prev_sunset = (weather_json['data']['weather'][i]['astronomy'][0]['sunset'])

                    sunset.append(sunset_time)

                    h_sunset = (sunset_time.split(":"))
                    m_sunset = (h_sunset[1].split(" "))

                    if m_sunset[1] == "PM":
                        if h_sunset[0] == "01":
                            t2 = "13" + ":" + m_sunset[0] 
                        elif h_sunset[0] == "02":
                            t2 = "14" + ":" + m_sunset[0] 
                        elif h_sunset[0] == "03":
                            t2 = "15" + ":" + m_sunset[0] 
                        elif h_sunset[0] == "04":
                            t2 = "16" + ":" + m_sunset[0] 
                        elif h_sunset[0] == "05":
                            t2 = "17" + ":" + m_sunset[0] 
                        elif h_sunset[0] == "06":
                            t2 = "18" + ":" + m_sunset[0] 
                        elif h_sunset[0] == "07":
                            t2 = "19" + ":" + m_sunset[0] 
                        elif h_sunset[0] == "08":
                            t2 = "20" + ":" + m_sunset[0] 
                        elif h_sunset[0] == "09":
                            t2 = "21" + ":" + m_sunset[0] 
                        elif h_sunset[0] == "10":
                            t2 = "22" + ":" + m_sunset[0] 
                        elif h_sunset[0] == "11":
                            t2 = "23" + ":" + m_sunset[0] 
                        elif h_sunset[0] == "12":
                            t2 = "24" + ":" + m_sunset[0] 
                    elif m_sunset[1] == "AM":
                        t2 = "23" + ":" + m_sunset[0]
                        if h_sunset[0] == "12":
                            hours_to_add = 1  
                        else:
                            hours_to_add = int(h_sunset[0]) + 1

                        hours_to_add_str = str(hours_to_add)
                    FMT = '%H:%M'
                    tdelta = datetime.strptime(t2, FMT) - datetime.strptime(t1, FMT)
                    if m_sunset[1] == "AM":
                        tdelta += timedelta(hours=hours_to_add)

                    sunhours.append(tdelta)
                    tdelta_str = str(tdelta)

                    hm_tdelta_str = (tdelta_str.split(":"))

                    h_tdelta = int(hm_tdelta_str[0])
                    m_tdelta = int(hm_tdelta_str[1])

                    sunhours_minutes = (h_tdelta * 60) + m_tdelta
                    sunminutes.append(sunhours_minutes)

                    minutes_sunlight = sunhours_minutes - (sunhours_minutes * int((weather_json['data']['weather'][i]['hourly'][0]['cloudcover'])) / 100)
                    sunlight.append(minutes_sunlight)

            except Exception as e:
                print(e)
                print(query_url)

### Build the Dataframe with the return of the API

In [10]:
weather_dict = {
    "State_Year_Month": state_year_month_list,
    "LatLon": lat_lon_list,
    "Lat": lat_list,
    "Lon": lon_list,
    "State": state_list,
    "Month": month_list,
    "Year": year_list,
    "Date": date,
    "Sunrise": sunrise,
    "Sunset": sunset,
    "Temp": temp,
    "Cloud": cloud,
    "Precip": precip,
    "Sunhours": sunhours,
    "Sunminutes": sunminutes,
    "Sunlight": sunlight,
}
        
weather_data = pd.DataFrame(weather_dict)

In [11]:
weather_data.head(500)

,State_Year_Month,LatLon,Lat,Lon,State,Month,Year,Date,Sunrise,Sunset,Temp,Cloud,Precip,Sunhours,Sunminutes,Sunlight
0,Alabama201501,Lat 32.60 and Lon -86.68,32.601011,-86.680736,Alabama,01,2015,2015-01-01,06:49 AM,04:52 PM,58,23,0.0,10:03:00,603,464.31
1,Alabama201501,Lat 32.60 and Lon -86.68,32.601011,-86.680736,Alabama,01,2015,2015-01-02,06:49 AM,04:53 PM,55,79,1.9,10:04:00,604,126.84
2,Alabama201501,Lat 32.60 and Lon -86.68,32.601011,-86.680736,Alabama,01,2015,2015-01-03,06:49 AM,04:53 PM,75,76,5.3,10:04:00,604,144.96
3,Alabama201501,Lat 32.60 and Lon -86.68,32.601011,-86.680736,Alabama,01,2015,2015-01-04,06:49 AM,04:54 PM,60,61,16.6,10:05:00,605,235.95
4,Alabama201501,Lat 32.60 and Lon -86.68,32.601011,-86.680736,Alabama,01,2015,2015-01-05,06:49 AM,04:55 PM,47,6,0.0,10:06:00,606,569.64
5,Alabama201501,Lat 32.60 and Lon -86.68,32.601011,-86.680736,Alabama,01,2015,2015-01-06,06:49 AM,04:56 PM,53,0,0.0,10:07:00,607,607.00
6,Alabama201501,Lat 32.60 and Lon -86.68,32.601011,-86.680736,Alabama,01,2015,2015-01-07,06:49 AM,04:57 PM,41,2,0.0,10:08:00,608,595.84
7,Alabama201501,Lat 32.60 and Lon -86.68,32.601011,-86.680736,Alabama,01,2015,2015-01-08,06:49 AM,04:57 PM,38,3,0.0,10:08:00,608,589.76
8,Alabama201501,Lat 32.60 and Lon -86.68,32.601011,-86.680736,Alabama,01,2015,2015-01-09,06:49 AM,04:58 PM,43,19,0.0,10:09:00,609,493.29
9,Alabama201501,Lat 32.60 and Lon -86.68,32.601011,-86.680736,Alabama,01,2015,2015-01-10,06:49 AM,04:59 PM,47,13,0.0,10:10:00,610,530.70
10,Alabama201501,Lat 32.60 and Lon -86.68,32.601011,-86.680736,Alabama,01,2015,2015-01-11,06:49 AM,05:00 PM,50,64,1.8,10:11:00,611,219.96
11,Alabama201501,Lat 32.60 and Lon -86.68,32.601011,-86.680736,Alabama,01,2015,2015-01-12,06:49 AM,05:01 PM,63,97,3.1,10:12:00,612,18.36
12,Alabama201501,Lat 32.60 and Lon -86.68,32.601011,-86.680736,Alabama,01,2015,2015-01-13,06:49 AM,05:02 PM,53,82,0.8,10:13:00,613,110.34
13,Alabama201501,Lat 32.60 and Lon -86.68,32.601011,-86.680736,Alabama,01,2015,2015-01-14,06:49 AM,05:03 PM,56,45,0.2,10:14:00,614,337.70
14,Alabama201501,Lat 32.60 and Lon -86.68,32.601011,-86.680736,Alabama,01,2015,2015-01-15,06:49 AM,05:04 PM,48,61,1.9,10:15:00,615,239.85
15,Alabama201501,Lat 32.60 and Lon -86.68,32.601011,-86.680736,Alabama,01,2015,2015-01-16,06:49 AM,05:05 PM,55,3,0.0,10:16:00,616,597.52
16,Alabama201501,Lat 32.60 and Lon -86.68,32.601011,-86.680736,Alabama,01,2015,2015-01-17,06:48 AM,05:06 PM,62,37,0.0,10:18:00,618,389.34
17,Alabama201501,Lat 32.60 and Lon -86.68,32.601011,-86.680736,Alabama,01,2015,2015-01-18,06:48 AM,05:06 PM,60,33,0.0,10:18:00,618,414.06
18,Alabama201501,Lat 32.60 and Lon -86.68,32.601011,-86.680736,Alabama,01,2015,2015-01-19,06:48 AM,05:07 PM,62,32,0.0,10:19:00,619,420.92
19,Alabama201501,Lat 32.60 and Lon -86.68,32.601011,-86.680736,Alabama,01,2015,2015-01-20,06:47 AM,05:08 PM,65,28,0.0,10:21:00,621,447.12
20,Alabama201501,Lat 32.60 and Lon -86.68,32.601011,-86.680736,Alabama,01,2015,2015-01-21,06:47 AM,05:09 PM,64,24,0.0,10:22:00,622,472.72
21,Alabama201501,Lat 32.60 and Lon -86.68,32.601011,-86.680736,Alabama,01,2015,2015-01-22,06:47 AM,05:10 PM,58,68,0.6,10:23:00,623,199.36
22,Alabama201501,Lat 32.60 and Lon -86.68,32.601011,-86.680736,Alabama,01,2015,2015-01-23,06:46 AM,05:11 PM,55,100,32.3,10:25:00,625,0.00
23,Alabama201501,Lat 32.60 and Lon -86.68,32.601011,-86.680736,Alabama,01,2015,2015-01-24,06:46 AM,05:12 PM,50,38,0.4,10:26:00,626,388.12
24,Alabama201501,Lat 32.60 and Lon -86.68,32.601011,-86.680736,Alabama,01,2015,2015-01-25,06:45 AM,05:13 PM,62,42,0.0,10:28:00,628,364.24
25,Alabama201501,Lat 32.60 and Lon -86.68,32.601011,-86.680736,Alabama,01,2015,2015-01-26,06:45 AM,05:14 PM,45,60,0.3,10:29:00,629,251.60
26,Alabama201501,Lat 32.60 and Lon -86.68,32.601011,-86.680736,Alabama,01,2015,2015-01-27,06:44 AM,05:15 PM,53,39,0.0,10:31:00,631,384.91
27,Alabama201501,Lat 32.60 and Lon -86.68,32.601011,-86.680736,Alabama,01,2015,2015-01-28,06:44 AM,05:16 PM,57,6,0.0,10:32:00,632,594.08
28,Alabama201501,Lat 32.60 and Lon -86.68,32.601011,-86.680736,Alabama,01,2015,2015-01-29,06:43 AM,05:17 PM,64,68,0.6,10:34:00,634,202.88
29,Alabama201501,Lat 32.60 and Lon -86.68,32.601011,-86.680736,Alabama,01,2015,2015-01-30,06:43 AM,05:18 PM,56,22,0.1,10:35:00,635,495.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,Arizona201601,Lat 34.17 and Lon -111.93,34.168219,-111.930907,Arizona,01,2016,2016-01-21,07:32 AM,05:47 PM,57,25,0.0,10:15:00,615,461.25
471,Arizona201601,Lat 34.17 and Lon -111.93,34.168219,-111.930907,Arizona,01,2016,2016-01-22,07:31 AM,05:48 PM,62,63,0.0,10:17:00,617,228.29
472,Arizona201601,Lat 34.17 and Lon -111.93,34.168219,-111.930907,Arizona,01,2016,2016-01-23,07:31 AM,05:49 PM,65,72,0.0,10:18:00,618,173.04
473,Arizona201601,Lat 34.17 and Lon -111.93,34.168219,-111.930907,Arizona,01,2016,2016-01-24,07:30 AM,05:50 PM,57,50,0.0,10:20:00,620,310.00
474,Arizona201601,Lat 34.17 and Lon -111.93,34.168219,-111.930907,Arizona,01,2016,2016-01-25,07:30 AM,05:51 PM,54,14,0.0,10:21:00,621,534.06
475,Arizona201601,Lat 34.17 and Lon -111.93,34.168219,-111.930907,Arizona,01,2016,2016-01-26,07:29 AM,05:52 PM,56,10,0.0,10:23:00,623,560.70
476,Arizona201601,Lat 34.17 and Lon -111.93,34.168219,-111.930907,Arizona,01,2016,2016-01-27,07:29 AM,05:53 PM,61,0,0.0,10:24:00,624,624.00
477,Arizona201601,Lat 34.17 and Lon -111.93,34.168219,-111.930907,Arizona,01,2016,2016-01-28,07:28 AM,05:54 PM,63,25,0.0,10:26:00,626,469.50
478,Arizona201601,Lat 34.17 and Lon -111.93,34.168219,-111.930907,Arizona,01,2016,2016-01-29,07:28 AM,05:55 PM,66,47,0.0,10:27:00,627,332.31
479,Arizona201601,Lat 34.17 and Lon -111.93,34.168219,-111.930907,Arizona,01,2016,2016-01-30,07:27 AM,05:56 PM,63,19,0.0,10:29:00,629,509.49
480,Arizona201601,Lat 34.17 and Lon -111.93,34.168219,-111.930907,Arizona,01,2016,2016-01-31,07:26 AM,05:57 PM,59,80,0.9,10:31:00,631,126.20
481,Arizona201602,Lat 34.17 and Lon -111.93,34.168219,-111.930907,Arizona,02,2016,2016-02-01,07:26 AM,05:58 PM,39,83,11.4,10:32:00,632,107.44
482,Arizona201602,Lat 34.17 and Lon -111.93,34.168219,-111.930907,Arizona,02,2016,2016-02-02,07:25 AM,05:59 PM,41,2,0.0,10:34:00,634,621.32
483,Arizona201602,Lat 34.17 and Lon -111.93,34.168219,-111.930907,Arizona,02,2016,2016-02-03,07:24 AM,06:00 PM,47,0,0.0,10:36:00,636,636.00
484,Arizona201602,Lat 34.17 and Lon -111.93,34.168219,-111.930907,Arizona,02,2016,2016-02-04,07:23 AM,06:01 PM,50,33,0.0,10:38:00,638,427.46
485,Arizona201602,Lat 34.17 and Lon -111.93,34.168219,-111.930907,Arizona,02,2016,2016-02-05,07:22 AM,06:02 PM,51,0,0.0,10:40:00,640,640.00
486,Arizona201602,Lat 34.17 and Lon -111.93,34.168219,-111.930907,Arizona,02,2016,2016-02-06,07:22 AM,06:03 PM,61,0,0.0,10:41:00,641,641.00
487,Arizona201602,Lat 34.17 and Lon -111.93,34.168219,-111.930907,Arizona,02,2016,2016-02-07,07:21 AM,06:03 PM,65,0,0.0,10:42:00,642,642.00
488,Arizona201602,Lat 34.17 and Lon -111.93,34.168219,-111.930907,Arizona,02,2016,2016-02-08,07:20 AM,06:04 PM,70,0,0.0,10:44:00,644,644.00
489,Arizona201602,Lat 34.17 and Lon -111.93,34.168219,-111.930907,Arizona,02,2016,2016-02-09,07:19 AM,06:05 PM,71,0,0.0,10:46:00,646,646.00
490,Arizona201602,Lat 34.17 and Lon -111.93,34.168219,-111.930907,Arizona,02,2016,2016-02-10,07:18 AM,06:06 PM,72,6,0.0,10:48:00,648,609.12
491,Arizona201602,Lat 34.17 and Lon -111.93,34.168219,-111.930907,Arizona,02,2016,2016-02-11,07:17 AM,06:07 PM,75,0,0.0,10:50:00,650,650.00
492,Arizona201602,Lat 34.17 and Lon -111.93,34.168219,-111.930907,Arizona,02,2016,2016-02-12,07:16 AM,06:08 PM,76,0,0.0,10:52:00,652,652.00
493,Arizona201602,Lat 34.17 and Lon -111.93,34.168219,-111.930907,Arizona,02,2016,2016-02-13,07:15 AM,06:09 PM,74,13,0.0,10:54:00,654,568.98
494,Arizona201602,Lat 34.17 and Lon -111.93,34.168219,-111.930907,Arizona,02,2016,2016-02-14,07:14 AM,06:10 PM,77,1,0.0,10:56:00,656,649.44
495,Arizona201602,Lat 34.17 and Lon -111.93,34.168219,-111.930907,Arizona,02,2016,2016-02-15,07:13 AM,06:11 PM,74,7,0.0,10:58:00,658,611.94
496,Arizona201602,Lat 34.17 and Lon -111.93,34.168219,-111.930907,Arizona,02,2016,2016-02-16,07:12 AM,06:12 PM,79,16,0.0,11:00:00,660,554.40
497,Arizona201602,Lat 34.17 and Lon -111.93,34.168219,-111.930907,Arizona,02,2016,2016-02-17,07:11 AM,06:13 PM,77,0,0.0,11:02:00,662,662.00
498,Arizona201602,Lat 34.17 and Lon -111.93,34.168219,-111.930907,Arizona,02,2016,2016-02-18,07:10 AM,06:14 PM,69,24,0.0,11:04:00,664,504.64
499,Arizona201602,Lat 34.17 and Lon -111.93,34.168219,-111.930907,Arizona,02,2016,2016-02-19,07:09 AM,06:15 PM,71,61,0.2,11:06:00,666,259.74

### Perform transformation on the data

In [12]:
weather_data.drop_duplicates("State_Year_Month", inplace=True)
weather_transformed = weather_data.rename(columns={"Month": "Month_",
                                            "Year": "Year_"})


grouped_weather_month = weather_transformed.groupby(["State_Year_Month","Lat","Lon","State","Month_","Year_"])

sunlight_summary = grouped_weather_month["Sunlight"].sum()
avarage_temp = grouped_weather_month["Temp"].mean()
avarage_cloud = grouped_weather_month["Cloud"].mean()
precip_summary = grouped_weather_month["Precip"].sum()

grouped_weather_month_df = pd.DataFrame({"Sunlight": sunlight_summary,
                         "Temp":avarage_temp,
                         "Cloud":avarage_cloud,
                         "Precip": precip_summary})


grouped_weather_month_df.head(500)

,,,,,,Sunlight,Temp,Cloud,Precip
State_Year_Month,Lat,Lon,State,Month_,Year_,,,,
Alabama201501,32.601011,-86.680736,Alabama,01,2015,464.31,58,23,0.0
Alabama201502,32.601011,-86.680736,Alabama,02,2015,102.24,64,84,14.2
Alabama201503,32.601011,-86.680736,Alabama,03,2015,75.90,63,89,0.7
Alabama201601,32.601011,-86.680736,Alabama,01,2016,6.03,51,99,0.0
Alabama201602,32.601011,-86.680736,Alabama,02,2016,70.18,69,89,2.6
Alabama201603,32.601011,-86.680736,Alabama,03,2016,483.70,75,30,0.8
Alaska201501,61.302501,-158.775020,Alaska,01,2015,141.54,22,58,0.1
Alaska201502,61.302501,-158.775020,Alaska,02,2015,452.02,10,3,0.0
Alaska201503,61.302501,-158.775020,Alaska,03,2015,530.40,23,15,0.0
Alaska201601,61.302501,-158.775020,Alaska,01,2016,151.65,28,55,0.8
Alaska201602,61.302501,-158.775020,Alaska,02,2016,111.60,32,76,0.4
Alaska201603,61.302501,-158.775020,Alaska,03,2016,490.62,28,22,0.0
Arizona201501,34.168219,-111.930907,Arizona,01,2015,368.90,35,38,1.0
Arizona201502,34.168219,-111.930907,Arizona,02,2015,607.68,66,4,0.0
Arizona201503,34.168219,-111.930907,Arizona,03,2015,171.75,60,75,12.5
Arizona201601,34.168219,-111.930907,Arizona,01,2016,374.85,58,37,0.0
Arizona201602,34.168219,-111.930907,Arizona,02,2016,107.44,39,83,11.4
Arizona201603,34.168219,-111.930907,Arizona,03,2016,667.36,78,3,0.0
Arkansas201501,34.751928,-92.131378,Arkansas,01,2015,148.25,37,75,11.9
Arkansas201502,34.751928,-92.131378,Arkansas,02,2015,132.51,59,79,9.5
Arkansas201503,34.751928,-92.131378,Arkansas,03,2015,82.32,43,88,1.7
Arkansas201601,34.751928,-92.131378,Arkansas,01,2016,189.44,47,68,0.0
Arkansas201602,34.751928,-92.131378,Arkansas,02,2016,0.00,59,100,3.0
Arkansas201603,34.751928,-92.131378,Arkansas,03,2016,282.08,66,59,10.7
California201501,37.271875,-119.270415,California,01,2015,573.21,38,1,0.0
California201502,37.271875,-119.270415,California,02,2015,429.18,58,31,0.0
California201503,37.271875,-119.270415,California,03,2015,150.26,38,78,1.7
California201601,37.271875,-119.270415,California,01,2016,515.31,28,11,0.0
California201602,37.271875,-119.270415,California,02,2016,466.50,24,25,1.5
California201603,37.271875,-119.270415,California,03,2016,527.45,55,23,0.0
Colorado201501,38.997934,-105.550567,Colorado,01,2015,295.88,19,48,3.1
Colorado201502,38.997934,-105.550567,Colorado,02,2015,583.30,28,5,0.0
Colorado201503,38.997934,-105.550567,Colorado,03,2015,326.40,33,52,1.1
Colorado201601,38.997934,-105.550567,Colorado,01,2016,426.75,23,25,0.1
Colorado201602,38.997934,-105.550567,Colorado,02,2016,0.00,22,100,8.6
Colorado201603,38.997934,-105.550567,Colorado,03,2016,647.90,40,5,0.0
Connecticut201501,41.518784,-72.757507,Connecticut,01,2015,503.23,32,9,0.0
Connecticut201502,41.518784,-72.757507,Connecticut,02,2015,247.64,31,59,0.7
Connecticut201503,41.518784,-72.757507,Connecticut,03,2015,87.88,33,87,5.0
Connecticut201601,41.518784,-72.757507,Connecticut,01,2016,320.74,40,42,0.0
Connecticut201602,41.518784,-72.757507,Connecticut,02,2016,30.15,50,95,0.2
Connecticut201603,41.518784,-72.757507,Connecticut,03,2016,541.60,43,20,1.0
Delaware201501,39.145251,-75.418921,Delaware,01,2015,471.44,41,17,0.0
Delaware201502,39.145251,-75.418921,Delaware,02,2015,196.48,41,68,0.3
Delaware201503,39.145251,-75.418921,Delaware,03,2015,122.40,36,82,9.3
Delaware201601,39.145251,-75.418921,Delaware,01,2016,329.44,46,42,0.0
Delaware201602,39.145251,-75.418921,Delaware,02,2016,6.13,53,99,0.9
Delaware201603,39.145251,-75.418921,Delaware,03,2016,450.12,50,34,0.0

### Create database connection

In [13]:
rds_connection_string = f"root:{mypass}@127.0.0.1/booze_db"
engine = create_engine(f'mysql://{rds_connection_string}')

In [19]:
# Confirm tables
engine.table_names()

['lat_lon_state', 'state_alcohol', 'weather_state_year']

### Load DataFrames into database

In [15]:
# Load DataFrames into database
latlon_transformed.to_sql(name='lat_lon_state',\
                           con=engine, if_exists='replace', index=True)

In [20]:
# Load DataFrames into database
state_transformed.to_sql(name='state_alcohol',\
                           con=engine, if_exists='replace', index=True)

In [17]:
grouped_weather_month_df.reset_index()
grouped_weather_month_df = grouped_weather_month_df.reset_index()
grouped_weather_month_df.to_sql(name='weather_state_year',\
                           con=engine, if_exists='replace', index=False)